<mat-toolbar color="primary" class="navbar">
    <div class="name">ScientificPublicationEditor</div>
    <div>
        <a *ngIf="!user" routerLink="/login" routerLinkActive="active" mat-button color="accent">Sign in</a>
        <a *ngIf="!user" routerLink="/register" routerLinkActive="active" mat-button color="accent">Register</a>
        <a *ngIf="user" routerLink="/profile" routerLinkActive="active" mat-button color="accent">My profile</a>
    
        <a *ngIf="user" (click)="logout()" mat-button color="accent">Sign out</a>
    </div>
</mat-toolbar>
