<div>
     <mat-card *ngFor="let v of versions">
        <mat-card-header>
            <mat-card-title>Version {{v.version}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <!-- dodati za rad za tu verziju -->
            <a mat-raised-button (click)="xml(v.spId)">XML</a>
            <a mat-raised-button (click)="html(v.spId)">HTML</a>
            <a mat-raised-button (click)="pdf(v.spId)">PDF</a>
        </mat-card-actions>
        <mat-card-header *ngIf="v.spc">
            <mat-card-title>Questionaires</mat-card-title>
        </mat-card-header>
        <mat-card-actions *ngIf="v.spc">
            <a mat-raised-button (click)="xmlQ(v.version)">XML</a>
            <a mat-raised-button (click)="htmlQ(v.version)">HTML</a>
            <a mat-raised-button (click)="pdfQ(v.version)">PDF</a>
        </mat-card-actions>
        <mat-card-header *ngIf="v.spc && v.spc.length > 0">
            <mat-card-title>Comments</mat-card-title>
        </mat-card-header>
        <mat-card-actions *ngFor="let spc of v.spc; let i = index" [attr.data-index]="i">
            {{i + 1}}:
            <a mat-raised-button (click)="xml(spc.spcId)">XML</a>
            <a mat-raised-button (click)="html(spc.spcId)">HTML</a>
            <a mat-raised-button (click)="pdf(spc.spcId)">PDF</a>
        </mat-card-actions>
    </mat-card>
</div>
