<div>
     <mat-card *ngFor="let r of reviewAssignments">
        <mat-card-header>
            <mat-card-title>Review</mat-card-title>
            <mat-card-title>{{r.idQue}}Questionaire</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <a mat-raised-button routerLink=".">XML</a>
            <a mat-raised-button routerLink=".">HTML</a>
            <a mat-raised-button routerLink=".">PDF</a>
        </mat-card-actions>
        <mat-card-header *ngIf="r.idSPC">
            <mat-card-title>SP comments{{r.idQue}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions *ngIf="r.idSPC">
            <a mat-raised-button routerLink=".">XML</a>
            <a mat-raised-button routerLink=".">HTML</a>
            <a mat-raised-button routerLink=".">PDF</a>
        </mat-card-actions>
    </mat-card>
    <button mat-raised-button color="accent" (click)="accept()">Accept</button>
    <button mat-raised-button color="accent" (click)="reject()">Reject</button>
    <button mat-raised-button color="accent" (click)="revise()">Revise</button>
</div>
