<mat-toolbar color="accent">
        <button mat-button color="primary">Publications</button>
        <button mat-button color="primary">Add publication</button>
        <button mat-button color="primary">My publications</button>
        <button mat-button color="primary">For revision</button>
        <button mat-button color="primary">For publication</button>
        <button *ngIf="role=='ROLE_REGULAR'" mat-button color="primary">New publication</button>
        <button *ngIf="role=='ROLE_REGULAR'" mat-button color="primary">My publications</button>
</mat-toolbar>
