<mat-toolbar color="accent">
        <button mat-button color="primary" (click)='showPublications()'>Publications</button>
        <button *ngIf="role!='GUEST' " mat-button color="primary" (click)='showAddPublication()'>Add publication</button>
        <button *ngIf="role!='GUEST'" mat-button color="primary" (click)='showMyPublication()'>My publications</button>
        <button *ngIf="role=='ROLE_REVIEWER' || role=='ROLE_REDACTOR'" mat-button color="primary" (click)='showForRevision()'>For revision</button>
        <button *ngIf="role=='ROLE_REVIEWER' || role=='ROLE_REDACTOR'" mat-button color="primary" (click)='showAddRevision()'>Add revision</button>
        <button *ngIf="role=='ROLE_REDACTOR'" mat-button color="primary" (click)='showForPublication()'>For publication</button>
</mat-toolbar>
