<div>
    <mat-card *ngFor="let sp of publications">
        <mat-card-header>
            <mat-card-title>{{sp.name}}</mat-card-title>
            <mat-card-subtitle>{{sp.processState}}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let a of sp.authors">{{a.name._text}} {{a.surname._text}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="withdraw(sp.id)">Withdraw</button>
            <a mat-raised-button routerLink=".">XML</a>
            <a mat-raised-button routerLink=".">HTML</a>
            <a mat-raised-button routerLink=".">PDF</a>
            <a *ngIf="sp.processState =='inProgress'" mat-raised-button (click)="addCoverLetter(sp)">Add CoverLetter</a>
            <a *ngIf="sp.processState !='inProgress'" mat-raised-button (click)="addCoverLetter(sp)">Update CoverLetter</a>
        </mat-card-actions>
    </mat-card>
</div>
