<div>
    <h1 *ngIf="publications.length < 1">
        You dont have publications
    </h1>
    <mat-card *ngFor="let sp of publications">
        <mat-card-header>
            <mat-card-title>{{sp.name}}</mat-card-title>
            <mat-card-subtitle>{{sp.processState}}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let a of sp.authors">{{a.name._text}} {{a.surname._text}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a mat-raised-button routerLink=".">XML</a>
            <a mat-raised-button routerLink=".">HTML</a>
            <a mat-raised-button routerLink=".">PDF</a>
            <button mat-raised-button color="accent" *ngIf="sp.processState !='published'" (click)="retract(sp.processId)">Retract</button>
            <button mat-raised-button color="accent" *ngIf="sp.processState =='published'" (click)="delete(sp.processId)">Delete</button>
            <button mat-raised-button color="accent" *ngIf="sp.processState =='inProgress'" (click)="addCoverLetter(sp.processId)">Add CoverLetter</button>
            <button mat-raised-button color="accent" *ngIf="sp.processState =='published' || sp.processState =='rejected' || sp.processState =='revised'" (click)="seeHistory(sp.processId)">See history</button>
        </mat-card-actions>
    </mat-card>
</div>
