<div>
    <mat-card *ngFor="let sp of publications">
        <mat-card-header>
            <mat-card-title>{{sp.name}}</mat-card-title>
            <mat-card-subtitle>{{sp.processState}}</mat-card-subtitle>
            <mat-card-subtitle *ngFor="let a of sp.authors">{{a.name._text}} {{a.surname._text}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions *ngIf="sp.processState !='inProgress'">
            Cover letter: 
            <a mat-raised-button (click)="xmlCL(sp.processId)">XML</a>
            <a mat-raised-button (click)="htmlCL(sp.processId)">HTML</a>
            <a mat-raised-button (click)="pdfCL(sp.processId)">PDF</a>
        </mat-card-actions>
        <mat-card-actions>
            <a mat-raised-button (click)="xml(sp.id)">XML</a>
            <a mat-raised-button (click)="html(sp.id)">HTML</a>
            <a mat-raised-button (click)="pdf(sp.id)">PDF</a>
            <button mat-raised-button color="accent"
                *ngIf="sp.processState !='published' && sp.processState !='retracted' && sp.processState !='deleted'"
                (click)="retract(sp.processId)">Retract</button>
            <button mat-raised-button color="accent"
                *ngIf="sp.processState =='published'"
                (click)="delete(sp.processId)">Delete</button>
            <button mat-raised-button color="accent" *ngIf="sp.processState =='inProgress'" (click)="addCoverLetter(sp.processId)">Add CoverLetter</button>
            <button mat-raised-button color="accent" (click)="seeHistory(sp.processId)">See history</button>
            <button mat-raised-button color="accent" *ngIf="sp.processState =='revised'" (click)="addNewVersion(sp.processId)">Add new version</button>
        </mat-card-actions>
    </mat-card>
</div>
