<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="Password">
            </mat-form-field>
        </p>

        <div class="error" *ngIf="(loginForm.controls.email.touched && loginForm.controls.email.errors?.required) ||
            (loginForm.controls.Password.touched && loginForm.controls.Password.errors?.required)">
            Please enter your data!
        </div>
        <p>
            <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Login</button>
        </p>
    </form>
</div>