<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </p>

        <div class="error" *ngIf="(loginForm.controls.username.touched && loginForm.controls.username.errors?.required) ||
            (loginForm.controls.password.touched && loginForm.controls.password.errors?.required)">
            Please enter your data!
        </div>
        <p>
            <button mat-raised-button color="accent" class="button" type="submit" [disabled]="loginForm.invalid">Login</button>
        </p>
    </form>
</div>