<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="email"> Username </label><br/>
            <input id="email" type="text" formControlName="email">
        </div>

        <div>
            <label for="password"> Password </label><br/>
            <input id="password" type="password" formControlName="password">
        </div>

        <div *ngIf="(loginForm.controls.email.touched && loginForm.controls.email.errors?.required) ||
        (loginForm.controls.password.touched && loginForm.controls.password.errors?.requrired)">
            Please enter your data!
        </div>
        <button class="button" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
