<!-- <div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" method="POST">
        <div>
            <input id="name" type="text" formControlName="name">
            <div *ngIf="submitted && form.name.errors">
                <div *ngIf="form.name.errors.required">Name is required</div>
            </div>
        </div>
        <div>
            <input id="surname" type="text" formControlName="surname">
            <div *ngIf="submitted && form.surname.errors">
                <div *ngIf="form.surname.errors.required">Surname is required</div>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <div class="error" *ngIf="submitted && form.email.errors">
                <div *ngIf="form.email.errors.required">Email is required</div>
            </div>
        </div>
        <div>
            <input id="phone" type="text" formControlName="phone">
            <div *ngIf="submitted && form.phone.errors">
                <div *ngIf="form.phone.errors.required">Phone is required</div>
            </div>
        </div>
        <div>
            <input type="text" formControlName="institutionName">
            <div *ngIf="submitted && form.name.errors">
                <div *ngIf="form.name.errors.required">Name is required</div>
            </div>
        </div>
        <div>
            <input id="surname" type="text" formControlName="surname">
            <div *ngIf="submitted && form.surname.errors">
                <div *ngIf="form.surname.errors.required">Surname is required</div>
            </div>
        </div>
        <div>
            <input id="phone" type="text" formControlName="phone">
            <div *ngIf="submitted && form.phone.errors">
                <div *ngIf="form.phone.errors.required">Phone is required</div>
            </div>
        </div>
        <div>
            <input id="inname" type="text" formControlName="institutionName">
            <div *ngIf="submitted && form.name.errors">
                <div *ngIf="form.name.errors.required">Name is required</div>
            </div>
        </div>
        <div>
            <input id="surname" type="text" formControlName="surname">
            <div *ngIf="submitted && form.surname.errors">
                <div *ngIf="form.surname.errors.required">Surname is required</div>
            </div>
        </div>
        <div>
            <input id="phone" type="text" formControlName="phone">
            <div *ngIf="submitted && form.phone.errors">
                <div *ngIf="form.phone.errors.required">Phone is required</div>
            </div>
        </div>
        <p>
            <button mat-raised-button color="accent" type="submit" [disabled]="registerForm.invalid">Register</button>
        </p>
    </form>
</div> -->