<div>
    <mat-card *ngFor="let sp of publications">
        <mat-card-header>
            <mat-card-title>{{sp.name}}</mat-card-title>
            <mat-card-subtitle>{{sp.processState}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <span *ngIf="sp.reviewAssigmentState == 'pending'">
                <button mat-raised-button color="accent" (click)="accept(sp)">Accept</button>
                <button mat-raised-button color="accent" (click)="reject(sp)">Reject</button>
            </span>
            <span *ngIf="sp.reviewAssigmentState == 'accepted' && sp.reviewState =='inProgress'">
                <button mat-raised-button color="accent" (click)="addReview(sp)">Add Review</button>
            </span>
            <a mat-raised-button (click)="xml(sp.processId)">XML</a>
            <a mat-raised-button (click)="html(sp.processId)">HTML</a>
            <a mat-raised-button (click)="pdf(sp.processId)">PDF</a>
        </mat-card-actions>
    </mat-card>
</div>
